doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css')
  link(rel='stylesheet' href='/css/land.css')
  title KARIBU
header
  marquee(behavior='left' direction='left') KARIBU GROCERIES LIMITED WEL COMES YOU!
main.hero
  .hero-content
    h1 Welcome to Kabribu Grocery Ltd
    p Stock Up on Fresh, Affordable Cereals;
    .auth-buttons
      a(href='/Signup').login-btn Sign Up
      a(href='/login').login-btn Login
  .hero-image
    img(src='/images/crops.jpg' alt='Healthy')
footer.footer
  .footer-container
    .footer-section
      p &copy; 2025 @Kabribu groceries Limited . All rights reserved.
      p +256 789 123 456
      p Developed by Birungi Faimah Khan

script(src='/js/landing.js')
