meta(charset="UTF-8")
meta(name="viewport", content="width=device-width,initial-scale=1")
title Matuga Produce - Inventory
link(rel="stylesheet", href="/css/dashboard.css")
link(rel="stylesheet", href="/css/forms.css")
link(rel="stylesheet", href="/css/tables.css")  link(rel="stylesheet", href="/css/dashboard.css")
link(rel="stylesheet", href="/Public/CSS/producelismatut.css")
link(rel="stylesheet", href="/Public/CSS/inventory_buttons.css")
header
  //- .logo
  //-   img(src="/Public/images/hand.jpg", alt="Matuga Produce Logo")
  h1 Inventory Management
main
  section.inventory-list
    .button-container
      button.add-btn Add New
      button.logout-btn Logout
    h2 Current Stock - Matuga Branch
    table#inventoryTable
      thead
        tr
          th Image
          th Produce Name
          th Produce Type
          th Tonnage (Kgs)
          th Date Bought
          th Supplier
          th Supplier Price (UGX)
          th Stock Branch
          th Update
          th Make Sale
          th Delete
      tbody
        tr(data-product="Maize")
          td
            img(src="/Public/images/yellowmaize.jpg", alt="Maize", width="50")
          td Maize
          td Grain
          td.tonnage 500
          td.date-bought 2025-04-10
          td.supplier Farmer Akram
          td.supplier-price 1200
          td Matuga
          td
            button.update-btn Update
          td
            button.sale-btn Sell
          td
            button.delete-btn Delete
        tr(data-product="Beans")
          td
            img(src="/Public/images/beansd.jpg", alt="Beans", width="50")
          td Beans
          td Legume
          td.tonnage 300
          td.date-bought 2025-04-12
          td.supplier Mama Amina
          td.supplier-price 1800
          td Matuga
          td
            button.update-btn Update
          td
            button.sale-btn Sell
          td
            button.delete-btn Delete
        tr(data-product="Groundnuts")
          td
            img(src="/Public/images/nuts.jpg", alt="Groundnuts", width="50")
          td Groundnuts
          td legume
          td.tonnage 200
          td.date-bought 2025-04-05
          td.supplier Uncle Musa
          td.supplier-price 2500
          td Matuga
          td
            button.update-btn Update
          td
            button.sale-btn Sell
          td
            button.delete-btn Delete
        tr(data-product="Cow Peas")
          td
            img(src="/Public/images/wwbeans.jpg", alt="Cow Peas", width="50")
          td Cow Peas
          td Legume
          td.tonnage 400
          td.date-bought 2025-04-15
          td.supplier Adil Farms
          td.supplier-price 1500
          td Matuga
          td
            button.update-btn Update
          td
            button.sale-btn Sell
          td
            button.delete-btn Delete
        tr(data-product="Soy Beans")
          td
            img(src="/Public/images/greensoy.jpg", alt="Soy Beans", width="50")
          td Soy Beans
          td Legume
          td.tonnage 600
          td.date-bought 2025-04-08
          td.supplier Hope Agriculture
          td.supplier-price 1300
          td Matuga
          td
            button.update-btn Update
          td
            button.sale-btn Sell
          td
            button.delete-btn Delete
footer
  p © 2025 Matuga Produce
script(src="/Public/js/producelistmatu.js")
script(src="/Public/js/inventory_buttons.js")