body {
    font-family: sans-serif;
    background-color: #1a4340;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.login-container {
    background-color: #2f807a;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 350px;
}

.logo {
    text-align: center;
    margin-bottom: 30px;

}

.logo img {
    background: url(/images/hand.jpg);
    text-align: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 0 auto;
    box-shadow: 0px 0px 2px #0d0d0d,
    0px 0px 0px 5px #eaeced,
    8px 8px 15px #262728,
    -8px -8px 15px #aeaaaa;
    background-size: cover;
}

.logo h1, .logo h2 {
    margin: 5px 0;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
.input-container {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  .input-container input {
    padding-right: 40px; /* Adjust based on icon size and spacing */
    width: 300px; /* Example width */
    min-height: 30px;
  }
  
  .input-icon {
    position: absolute;
    right: 5px; /* Adjust horizontal position */
    color: #0f0e0e; /* Example icon color */
    cursor: pointer; /* Add a pointer cursor for the toggle icon */

  }

  .toggle-password {
    position: absolute;
    right: 10px;
    cursor: pointer;
    color: #090909;
} 

.error-message {
    color: red;
    font-size: 0.8em;
    margin-top: 5px;
}

.remember-me {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.remember-me input[type="checkbox"] {
    margin-right: 5px;
}

.remember-me label {
    font-size: 0.9em;
    color: #0a0a0a;
}

button {
    background-color: #1a4340;
    color: rgb(12, 12, 12);
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-size: 1em;
}

button:hover {
    background-color: #7ea6a3;
}

.register-link {
    text-align: center;
    margin-top: 20px;
    font-size: 0.9em;
    color: #0a0a0a;
}

.register-link a {
    color: #ecf3f3;
    text-decoration: none;
}

.register-link a:hover {
    text-decoration: underline;
}

.error-message {
    display: block;
    color: red;
    font-size: 0.8em;
    margin-top: 5px;
}
.message {
    margin-top: 15px;
    padding: 10px;
    border-radius: 4px;
    text-align: center;
}

.message.success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}

.message.error {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}