body {
    font-family: sans-serif;
    background-color: #1a4340;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.signup-container {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(4, 4, 4, 0.1);
    width: 400px;
}

.logo-container {
    text-align: center;
    margin-bottom: 20px;
}

.logo-container img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 0 auto;
    box-shadow: 0px 0px 2px #0d0d0d,
    0px 0px 0px 5px #eaeced,
    8px 8px 15px #262728,
    -8px -8px 15px #aeaaaa;
    background-size: cover;
}


h2 {
    text-align: center;
    color: #333;
    margin-bottom: 25px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #0c0c0c;
    font-weight: bold;
}

.input-with-icon {
    position: relative;
    display: flex;
    align-items: center;
}

.select-with-icon {
    position: relative;
}

input[type="text"],
input[type="email"],
input[type="password"],
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #080808;
    border-radius: 4px;
    font-size: 16px;
    appearance: none; /* Remove default arrow for custom icon */
    padding-right: 30px; /* Space for the icon */
}

.input-with-icon i {
    position: absolute;
    right: 10px;
    color: #1a1a1a;
    font-size: 18px;
}

.select-with-icon i {
    position: absolute;
    right: 10px;
    color: #1e1d1d;
    font-size: 18px;
    pointer-events: none; /* Allows clicking on the select element */
}

.error-message {
    display: block;
    margin-top: 5px;
    color: #dc3545;
    font-size: 14px;
}

button[type="submit"] {
    background-color: #1a4340;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    width: 100%;
}

button[type="submit"]:hover {
    background-color: #1a43;
}